.siderbarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.siderbarOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.siderbarOption > .MuiSvgIcon-root {
    padding: 20px;
}

.siderbarOption > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption--active {
    color: var(--twitter-color);
}

@media (max-width: 1000px) {
    .siderbarOption > h2 {
        display: none;
    }
}

@media (max-width: 640px) {
    .siderbarOption > .MuiSvgIcon-root {
        padding: 20px 10px;
    }
    
}