.displayImage {
    position: absolute;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.308);
    display: grid;
    place-items: center;
    overflow: hidden;
}

.displayImage__container {
    max-width: 98%;
}
img {
    max-width: 100%;
    border-radius: 30px;
}

@media (min-width: 1400px) {
    .displayImage__container {
        max-width: 80%;
    }
}

@media (min-width: 1800px) {
    .displayImage__container {
        max-width: 70%;
    }
}

@media (max-width: 640px) {
    .displayImage__container {
        max-width: 98%;
        max-height: 98%;
    }
}